<div>
  <mat-drawer-container>
    <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
      [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
      <div class="sidenav-header">
        <img class="logo" src="../assets/images/logo.png" alt="logo">
      </div>
      <ul>
        <li (click)="sideItemActive = item.name" [ngClass]="{'border-start border-white border-5': sideItemActive === item.name}" *ngFor="let item of sidbarItems" class="sidebar-item">
          <mat-icon>{{item.icon}}</mat-icon> {{ !collapsedNav ? item.name : '' }}
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Easy Library</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>

      <div class="container mt-5">
        <div class="row w-100">

        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

</div>
